<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
   <link rel="icon" href="../img/icono.jpeg">
   <title>Super Graciosos</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
   <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <!--HEADER-->
<header>
    <div>
   <h1>Amor De Gatos</h1>
   <p>¿Porque Los Gatos Son La mejor Mascota?</p>
   </div>
   </header>

    <!--NAVBAR-->
   
    <nav class="navbar">
       <a href="../../index.html" target="_blank">INICIO</a>
       <a href="">DIVERTIDOS</a>
       <a href="../views/formulario.html" target="_blank">REGISTRATE</a>
   </nav>

<!-- PAGINA PRINCIPAL -->
<article class="divertidosarticle">
<h2 class="titlearticle">CURIOSIDADES</h2>
 <ol>
 <li>La nariz de cada gato es diferente, como su huella</li>
 <li>Los gatos utilizan su característico “miau” para comunicarse con los humanos</li>
 <li>Los gatos pasan un tercio de su tiempo acicalándose</li>
 <li>Algunos sufren ansiedad por separación</li>
 <li>Tienen la capacidad de oler con la boca</li>
 <li>Crean vínculos a través de la interacción con humanos</li>
 <li>Los gatos expresan su amor con los ojos</li>
 <li>El ronroneo puede expresar dolor</li>
 <li>Es posible que tu gato sea mayor de lo que crees</li>
 <li>Los gatos tienen un oído excepcional</li>
</ol>
</article>
<main >
<h2>mira los videos mas divertidos!!</h2>

<iframe width="853" height="480" src="https://www.youtube.com/embed/g8fbiFbT0X8" title="Gatos Graciosos - Videos de Risa de Gatos Chistosos #233" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

<h2> No te vas a poder parar de reir!</h2>

<iframe width="853" height="480" src="https://www.youtube.com/embed/Yv1JumpKVys" title="NUEVOS vídeos de gatos 2024 😅 Gatos graciosos − Videos graciosos de gatos" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</main>

<article class="divertidosarticle">
    <h2 class="titlearticle">MITOS</h2>
<ol>
<li> <B>Mito 1:</B> Los gatos tienen mucho equilibro y no se caen. <br> <B>Realidad:</B> Es cierto que los gatos caminan a grandes alturas por cornisas pequeñas con gran facilidad, pero lo cierto es que muchas veces se caen. Su curiosidad los hace distraerse y perder el equilibrio. </li>
<li> <B>Mito 2:</B> Los gatos siempre caen de pie. <br><B>Realidad:</B> Es cierto que los gatos tienen una notable habilidad para girar en el aire y aterrizar en una posición relativamente segura cuando caen. Sin embargo, esto no significa que sean invulnerables a las lesiones.</li>
<li><B>Mito 3:</B> Los gatos pueden beber leche sin problema. <br> <B>Realidad:</B> Si bien la imagen de un gato disfrutando de un tazón de leche es icónica, la realidad es que muchos gatos son intolerantes a la lactosa.</li>
<li><B>Mito 4:</B> Los gatos y gatas esterilizados siempre engordan. <br><B>Realidad:</B> Uno de los mitos sobre los gatos más extendido. Es cierto que muchos tienden a ganar peso después de la esterilización, pero esto no ocurre en todos los casos.</li>
<li><B>Mito 5:</B> Los gatos no contraen la rabia. <br> <B>Realidad:</B> Los gatos sí pueden tener rabia, al igual que los perros, hurones, murciélagos y casi cualquier otro animal de sangre caliente, por lo que este mito sobre los gatos también es falso.</li>
<li><B>Mito 6:</B> Si le doy ajo en la comida no tendrá parásitos. <br> <B>Realidad:</B> Este mito sobre los gatos es cierto a medias. Existen tratamientos naturales con ajo para los parásitos, pero se hace con dosis determinadas y por una cantidad de días determinados. </li>
<li><B>Mito 7:</B>Los gatos siempre se asean a sí mismos, no necesitan baños. <br> <B>Realidad:</B> Los gatos son conocidos por su meticulosa limpieza, pero eso no significa que no necesiten baños ocasionalmente.</li>
<li><B>Mito 8:</B> Los gatos son solitarios y no necesitan atención constante. <br><B>Realidad:</B>Aunque los gatos pueden tener momentos de independencia, no son criaturas completamente solitarias. Requieren interacción social, estimulación mental y ejercicio regular para mantenerse felices y saludables.</li>
</ol>
<div id="carouselExample" class="carousel slide">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../img/milaneso 2.jpg" class="" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../img/uvi ojota.jpg" class="" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../img/kiwi panza arriba.jpg" class="" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</article>
<!--FOOTER  -->
<footer>&copy;Angeles Astone</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>