<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../css/style.css">
   <link rel="icon" href="../img/icono.jpeg">
    <title>Registro</title>
</head>
<body>
    <!--HEADER-->
<header>
    <div>
   <h1>Amor De Gatos</h1>
   <p>¿Porque Los Gatos Son La mejor Mascota?</p>
   </div>
   </header>
   
    <!--NAVBAR-->
<nav class="navbar">
    <a href="../../index.html">INICIO</a>
    <a href="../views/divertidos.html">DIVERTIDOS</a>
    <a href="../../index.html">REGISTRATE</a>
</nav>

<!-- FORMULARIO-->
 
<form action="">
    <fieldset>
        <legend>FORMULARIO DE REGISTRO</legend>
    
    <label for="nombre y apellido">NOMBRE Y APELLIDO</label>
    <input type="text" id="nombre y apellido" required>
    <label for="edad">EDAD</label>
    <input type="date" id="edad">
    <label for="domicilio">DOMICILIO</label>
    <input type="text" id="domicilio">
    <label for="telefono">TELEFONO</label>
    <input type="text" id="telefono">
    <label for="email">CORREO ELECTRONICO</label>
    <input type="email" id="email" required>
    <label for="contraseña">CONTRASEÑA</label>
    <input type="password"  id="contraseña" required>
    <label for="confcontraseña">CONFIRMAR CONTRASEÑA</label>
    <input type="password"  id="confcontraseña" required>
    <input type="submit" value="Registrarse">
    <input type="reset" value="Borrar">
</fieldset>
</form>
<!--FOOTER  -->
<footer>&copy;Angeles Astone</footer>

</body>

</html>